# Configuración de base de datos
DB_NAME=proyecto_sig_db
DB_USER=postgres
DB_PASSWORD=tu_contraseña
DB_HOST=127.0.0.1
DB_PORT=5432

# Configuración de Django
SECRET_KEY=django-insecure-cambiame-a-una-clave-muy-segura-12345
TIME_ZONE=America/La_Paz

# Ruta del directorio bin de QGIS o OSGeo4W para GDAL en Windows
# Ejemplo: C:\Program Files\QGIS 3.34.1\bin o C:\OSGeo4W\bin
QGIS_BIN_PATH=
